body {
  background-color: #2f2f2f;
  color: #e88f2a;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.container,
.name-input-container {
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: orange;
}

#clock {
  font-size: 1.5rem;
  margin: 10px 0;
}

#greeting {
  font-size: 1.2rem;
}

.info {
  font-size: 0.9rem;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
